@font-face {
    font-family: 'Proxima Nova';
    src: url('../font/ProximaNova-Light.eot');
    src: url('../font/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/ProximaNova-Light.woff2') format('woff2'),
        url('../font/ProximaNova-Light.woff') format('woff'),
        url('../font/ProximaNova-Light.ttf') format('truetype'),
        url('../font/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../font/ProximaNova-Semibold.eot');
    src: url('../font/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/ProximaNova-Semibold.woff2') format('woff2'),
        url('../font/ProximaNova-Semibold.woff') format('woff'),
        url('../font/ProximaNova-Semibold.ttf') format('truetype'),
        url('../font/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../font/ProximaNova-Regular.eot');
    src: url('../font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/ProximaNova-Regular.woff2') format('woff2'),
        url('../font/ProximaNova-Regular.woff') format('woff'),
        url('../font/ProximaNova-Regular.ttf') format('truetype'),
        url('../font/ProximaNova-Regular.svg#.') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../font/ProximaNova-Bold.eot');
    src: url('../font/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/ProximaNova-Bold.woff2') format('woff2'),
        url('../font/ProximaNova-Bold.woff') format('woff'),
        url('../font/ProximaNova-Bold.ttf') format('truetype'),
        url('../font/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}
