/* 480px and up */
@media (min-width: 480px) {	
	
	.logo-wrap img, .logo-wrap svg {
		//width: 170px;
		width: 162px;
	}
	#header-search {
		display: block;
	}	
	
	#hero-banner {
		height: 200px;
		margin: 0 -30px 30px;
	}
	
	.curated-contents {
		.sub-cards {					
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			-ms-flex-pack: center;
			display: -webkit-flex;
			display: flex;			
		}
		.sub-card-wrapper {
			width: 48%;
			
			&.two {				
				margin-left: 4%;
			}
		}
	}
	
	/* Related Posts under article */
	body.single-post article.post div.rp4wp-related-posts {
		margin-top: 40px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 0;
		 
		h3 {
			font-size: 19px;
			line-height: 24px;
			font-weight: 700;
		}  
		
		ul {
			position: relative;
			width: auto;
			
			margin-left: -10px;
			margin-right: -10px;
			
			>li {	
				position: relative;
				display: block;
				float: left;
				width: 33.33333333%; 
				padding: 0 10px; 
				
				vertical-align: top;
				clear: none; 
				 
				
				.rp4wp-related-post-image { 
					width: 100%;
					padding: 0;
					margin-bottom: 14px;
					
					img {
						width: 100%;
						height: auto;
					}
				}
				
				.rp4wp-related-post-content {
					>a {  
						font-size: 13px;
						line-height: 18px;
						font-weight: 400;
					}
					
					p {
						display: block;
						font-size: 13px;
						line-height: 16px;
						color: #909090;
					}
				}
			}
		}
	}
}

/* 560px and up */
@media (min-width: 560px) {	
	#hero-banner {
		height: 240px;
		margin: 0 -30px 30px;
	}
}

/* 680px and up */
@media (min-width: 680px) {	
	#hero-banner {
		height: 300px;
		margin: 0 -30px 30px;
	}
}

@media (min-width: 768px) {

    .navbar-right {
        margin-right: auto;
    }
    
	.logo-footer-container {
			
		.logo-wrap {
			margin-bottom: 0;
		}
		
		.iconBlock {
			float: right;
			
			.item {
				margin-left: 52px;
				margin-right: 0;
			}
		}
	}
	
	.bottomFooter {
		
		.copyrightBlock {
			float: left;
		}
		.bottomMenu {
			float: right;
			margin-top: 0;
		}
    }
}

/* 980px and up */
@media (min-width: 980px) {			
	.addthis-smartlayers.addthis-smartlayers-mobile .at4-share-count-container {
		display: block;
	}
}

/* Small Devices */
@media (min-width: $screen-sm-min) {	
	
	body {
		padding-top: 56px;
	}

	.navbar-brand img {
		max-width: none;
	}
	
	#hero-banner {
		height: 340px;
		margin: 0 -30px 30px;
	}		

	.pull-sm-left {
		float: left;
	}
	.pull-sm-right {
		float: right;
	}	
		
	/* Curated Contents */
	.curated-contents {			
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
			-ms-flex-pack: center;
		display: -webkit-flex;
		display: flex;
		webkit-justify-content: space-between;
		justify-content: space-between;
		
		.main-card {
			width: 72.5%;
			height: 450px;
			margin-left: -30px;
			margin-bottom: 0;
			
			.card {
				position: absolute;
				left: 30px;
				right: 20px;
					
			}
		}

		.sub-cards {
			width: 455px;					
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			
			-ms-flex-pack: space-between;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			
			-ms-flex-direction: column;
			-webkit-flex-direction: column;
			flex-direction: column;
			
		}
		
		.sub-card-wrapper {
			width: auto;
			height: 215px;
			margin-bottom: 0;
			
			&.two {
				margin-left: 0;
			}
		}
	}
	
	body.single-post {
		/* Author box */
		.author_box_wrap {
			padding: 30px 40px 16px;
			margin: 40px 0 30px;
			width: 100%;
			text-align: left;
			

			.author_box_gravatar {
				float: left;
				margin: 0 20px 0 0;
			}

			.author_box_text {
				overflow: hidden;
			}

			.author_box_text h4 {
				font-size: 21px; 
				line-height: 24px;
			}
			
			.author_box_text p {
				font-size: 14px;
				line-height: 21px;
			}
			
		}
		
		.entry-header {
			margin-top: 0;
		}
	}	
	
	#article-subscribe {
		text-align: left;
		
		#article-envelope {
			margin: 0 auto;
				
		}
	}
	
	.entry-auth {
		margin-bottom: 0;
	} 
	
	body.single-post {

		/* CTA Banner SM */
		.cta-banner {
			background: #DCF0FC;
			//height: 210px;
			max-width: 100%;
			margin: 50px auto;

			-webkit-border-radius: 6px;
			border-radius: 6px;

			img {
				float: left;
				// height: 210px;
				height: auto;
				max-width: 300px;
			}
			.cta-body {
				padding: 20px;
				overflow: hidden;

				h3 {
					font-size: 23px;
					line-height: 28px;
					margin: 0 0 10px;
				}
				
			}
		}
	}

	.infographic {
		width: 720px;
		height: 1610px;

		.textBlock {
			top: 70px;
		}

		.percent_1 {
			top: 620px;
			left: 218px;
			width: 288px;
			height: 234px;
		}
		
		.percent_2 {
			top: 880px;
			left: 218px;
			width: 288px;
			height: 234px;
		}
	
		.two-as-one {
			top: 1100px;
			left: 218px;
			width: 288px;
			height: 164px;
		}
	
		.man {
			top: 438px;
			left: 118px;
			width: 452px;
			height: 304px;
		}
	
		.company {
			top: 486px;
			left: 518px;
			width: 230px;
			height: 82px;
		}

		.window_1 {
			top: 644px;
			left: 520px;
			width: 86px;
			height: 100px;
		}	
	
		.window_2 {
			top: 768px;
			left: 24px;
			width: 86px;
			height: 100px;
		}
	
		.window_3 {
			top: 768px;
			left: 610px;
			width: 86px;
			height: 100px;
		}
	
		.window_4 {
			top: 886px;
			left: 114px;	
			width: 86px;
			height: 100px;
		}
	
		.window_5 {
			top: 886px;
			left: 520px;
			width: 86px;
			height: 100px;
		}
	
		.window_6 {		
			top: 1010px;
			left: 24px;
			width: 86px;
			height: 100px;
		}
	
		.window_7 {
			top: 1010px;
			left: 610px;
			width: 86px;
			height: 100px;
		}
	
		.window_8 {
			top: 1132px;
			left: 24px;
			width: 174px;
			height: 114px;
		}
	
		.window_9 {
			top: 1132px;
			left: 520px;
			width: 174px;
			height: 114px;
		}
	}

	.infographic_cta_block {
		padding-top: 42px;
		height: 307px;
		
		.p_title, .p_text {
			font-size: 18px;
			letter-spacing: 0.01em;
			font-weight: 300;
		}

		.p_text {
			margin-bottom: 40px;
		}

		.cta_btn {
			width: 331px;
			height: 70px;
			margin: 20px auto 0;
			padding-top: 12px;
			font-size: 18px;
			line-height: 23px;
		}
	}
		
	body.single-post .entry-content .infographic_cta_block h2 {
		font-size: 26px;
		line-height: 33px;
		text-transform: uppercase;
		color: #fff;
		font-weight: 600;
		margin: 6px 50px;
		letter-spacing: 0.045em;
		padding: 0;
		border: 0;
	}

}


/* Medium Devices */
@media (min-width: $screen-md-min) {

	body {
		padding-top: 90px;
	}

	.curated-contents {			
		.card-title {		
			font-size: 29px;
			line-height: 33px;
		}
	}
	
	.entry_title {
		font-size: 32px;
		line-height: 37px;
	}
	.navbar-header .blog-home {
		margin-top: 32px;
	}  
	.navbar-toggle {
		margin-top: 24px;
	}
	
	.navbar {
		min-height: 90px;
		
		.navbar-form {
			// height: 36px;
			margin: 25px 0 28px 0;
			padding: 0;
		}
	}

	.navbar>.container .navbar-brand, 
	.navbar>.container-fluid .navbar-brand {
		margin: 36px 0 0;
	}
	.vertical-center-md {		
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
			-ms-flex-pack: center;
		display: -webkit-flex;
		display: flex;
		align-items: center;
	}
	#hero-banner {
		height: 400px;
		margin: 0 -50px 40px;
	}
	
	.content-area {
		width: 68%;
		padding-right: 10px;
		margin-bottom: 40px;
	}
	.post-template-single-power-page {
		&.single-post {
			
			#content {
				margin-top: 0;
			}
			
			.byline, time {
				color: $white;
			}
			
			.breadcrumbs {
				margin-top: 80px;
				color: $white;
				
				a, span {
					color: $white;
				}
			}
			
			.breadcrumbs, .entry_title, .entry-meta {
				text-align: center;
			}
			.entry-header {
				background: #005684;
				padding: 10px 100% 10px;
				margin: 0 -100% 40px;
			}
			.breadcrumb-wrap {
				background: #005684;
				margin-top: 0;
			}
			.entry_title {
				color: $white;
				font-size: 54px;
				line-height: 60px;
				margin-top: 0;
				margin-bottom: 30px;
			}
			.entry-meta {
				margin-bottom: 60px;
				color: $white;
				
				a {
					color: $white;
				}
			}
		}
		.content-area {
			width: 72%;
			margin: 0 auto;
			float: none;
		}
				
		.bg-wide-section {
			background: #F0F8FC;
			padding: 40px 100%;
			margin: 60px -100%;
		}
		
		body.single-post .entry-footer {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.widget-area {
		width: 32%;
		padding-left: 20px;
	}
	#header-search {
		margin-top: 0;
		label {
			font-size: 18px;
			font-size: 1.125rem;
		}
	}
	
	.lead {
		font-size: 21px;
		font-weight: 500;
	}
	
	.blog-list { 
		.entry_title {
			font-size: 26px;
			line-height: 30px;
			font-weight: 300;
			margin: 12px 0 16px;
		}
	}
	
	.entry_summary {
		font-size: 13px;
    	line-height: 19px;
		margin-bottom: 16px;
		color: #787878;
	}
	
	body.single-post {
	 
		.entry_title {
			font-size: 38px;
			line-height: 47px;
		}
		
		.entry-content {
			font-size: 16px; 
			line-height: 1.5; //27px;
			
			blockquote {				
				max-width: 100%;
				padding: 10px;
				
				&.left {
					float: left;
					margin: 0 30px 30px 0;
					max-width: 40%;
				}
				
				&.right {
					float: right;
					margin: 0 0 30px 30px;
					max-width: 60%;
				}
				
			}

			.widget-title {
				margin-bottom: 6px;
			}
			
		}		
		
	}
	
	#article-subscribe {
		#article-envelope {
			width: 80px;
			height: 80px;
		}
		
		.article-subscribe-text {
			width: 450px;
			max-width: 100%;
			font-size: 18px;
			line-height: 24px;
			margin: 0 auto 20px;
			
			h4 {
				font-size: 26px;
				margin-bottom: 10px; 
			}
		}
	}
	
	body.author {
		.page-header, .page-title, .position {
			text-align: left;
		}
		
		.author-desc {
			padding-left: 40px;
		}
	}
	
	body.author .entry-content blockquote p, 
	body.error404 .entry-content blockquote p, 
	body.single-post .entry-content blockquote p {			
		font-size: 24px;
		line-height: 36px;
	}
	
	#footer-menu {
		li {
			border-right: 1px solid $gray-700;
			display: inline-block;
			padding-left: 10px;
			padding-right: 14px;
		}
	}	

	.infographic {
		width: 634px;
		height: 1418px;

		.textBlock {
			top: 70px;
		}

		.percent_1 {
			top: 546px;
			left: 192px;
			width: 254px;
			height: 206px;
		}
		
		.percent_2 {
			top: 775px;
			left: 192px;
			width: 254px;
			height: 206px;
		}
	
		.two-as-one {
			top: 969px;
			left: 192px;
			width: 254px;
			height: 144px;
		}
	
		.man {
			top: 386px;
			left: 104px;
			width: 398px;
			height: 268px;
		}
	
		.company {
			top: 428px;
			left: 456px;
			width: 203px;
			height: 72px;
		}

		.window_1 {
			top: 567px;
			left: 450px;
			width: 76px;
			height: 88px;
		}	
	
		.window_2 {
			top: 676px;
			left: 21px;
			width: 76px;
			height: 88px;
		}
	
		.window_3 {
			top: 676px;
			left: 537px;
			width: 76px;
			height: 88px;
		}
	
		.window_4 {
			top: 780px;
			left: 100px;	
			width: 76px;
			height: 88px;
		}
	
		.window_5 {
			top: 780px;
			left: 458px;
			width: 76px;
			height: 88px;
		}
	
		.window_6 {		
			top: 889px;
			left: 21px;
			width: 76px;
			height: 88px;
		}
	
		.window_7 {
			top: 889px;
			left: 537px;
			width: 76px;
			height: 88px;
		}
	
		.window_8 {
			top: 997px;
			left: 21px;
			width: 153px;
			height: 100px;
		}
	
		.window_9 {
			top: 997px;
			left: 458px;
			width: 153px;
			height: 100px;
		}
	}

	.infographic_cta_block {
		padding-top: 37px;
		height: 270px;
		
		.p_title, .p_text {
			font-size: 16px;
			letter-spacing: 0.01em;
			font-weight: 300;
		}

		.p_text {
			margin-bottom: 30px;
		}

		.cta_btn {
			width: 291px;
			height: 62px;
			margin: 18px auto 0;
			padding-top: 11px;
			font-size: 16px;
			line-height: 20px;
		}
	}
		
	body.single-post .entry-content .infographic_cta_block h2 {
		font-size: 23px;
		line-height: 29px;
		text-transform: uppercase;
		color: #fff;
		font-weight: 600;
		margin: 5px 44px;
		letter-spacing: 0.040em;
		padding: 0;
		border: 0;
	}
}


/* Medium Devices */
@media (min-width: $screen-lg-min) {	

	body {
		padding-top: 94px;
	}

	.navbar-header .blog-home {
		display: none;
	}
	
	#hero-banner {
		height: 500px;
		margin: 0 -50px 40px;
	}
		
	.navbar-nav > li > a {
		padding: 22px 15px;
		line-height: 50px;
	}
	
	.navbar-nav {
		padding-right: 20px;
	}
	
	.search-form {
		.search-field {
			width: 200px;
		}
	}
	
	#header-nav {
		.nav li a {			
			&:after {
				content: '';
				border-bottom: 2px solid transparent;
				position: absolute;
				bottom: 0;
				width: 100%;
				left: 0;
				
				-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}
		}
		
		.nav > li {		
			a:focus, a:hover, a.active {
				background-color: transparent;		
			}
			a:focus:after, a:hover:after, a.active:after {
				border-bottom-color: #0074ad;			
			}
		}
	}

    /* Infographic */
    .infographic {
		width: 100%;
        height: 1767px;

		.textBlock {
			top: 100px;
		}

        .company {
            top: 530px;
            left: 564px;
            width: 252px;
            height: 90px;
        }

        .man {
            top: 481px;
            left: 127px;
            width: 496px; 
            height: 334px;      
        }

        .percent_1 {
            top: 693px;
            left: 240px;
            width: 310px;
            height: 252px;
        }
        
        .percent_2 {
            top: 975px;
            left: 240px;
            width: 310px;
            height: 210px;
        }

        .window_1 {
            top: 708px;
            left: 572px;
            width: 92px;
            height: 110px;
        }

        .window_2 {
            top: 843px;
            left: 25px;
            width: 92px;
            height: 110px;
        }

        .window_3 {
            top: 843px;
            left: 672px;
            width: 92px;
            height: 110px;
        }

        .window_4 {
            top: 974px;
            left: 126px;
            width: 92px;
            height: 110px;
        }

        .window_5 {
            top: 975px;
            left: 572px;
            width: 92px;
            height: 110px;
        }

        .window_6 {
            top: 1109px;
            left: 25px;
            width: 92px;
            height: 110px;
        }

        .window_7 {
            top: 1111px;
            left: 673px;
            width: 92px;
            height: 110px;
        }

        .window_8 {
            top: 1245px;
            left: 27px;
            width: 191px;
            height: 110px;
        }

        .window_9 {
            top: 1245px;
            left: 574px;
            width: 191px;
            height: 110px;
        }

        .two-as-one {
            top: 1208px;
            left: 240px;
            width: 308px;
            height: 176px;
        }

        .p_title, .p_text {
            font-size: 20px;
        }

        .infographic_cta_block {
            padding-top: 46px;
            height: 337px;

            .cta_btn {
                width: 345px;
                height: 73px;
                display: block;
                margin: 24px auto 0;
                text-decoration: none;
                color: #fff;
                background: #f48720;
                border-radius: 5px;
                padding-top: 12px;
                line-height: 23px;
                letter-spacing: .02em;
                font-size: 19px;
			}
			
			.p_title, .p_text {
				font-size: 18px;
			}

		}
	}
		
	body.single-post .entry-content .infographic_cta_block h2 {
		font-size: 27px;
		line-height: 32px;
		margin: 10px 100px 10px;
	}
	
}

/* Mobile Breakpoint until 1199px */
@media (max-width: 1199px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}


@media (min-width: 768px) {
	/* reset previous grid */
	.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: none; }
	.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: none; }
	.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: none; }
	.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: none; }
	.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: none; }

	/* clear first in row for small columns */
	.multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: left; }
	.multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: left; }
	.multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: left; }
	.multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: left; }
	.multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: 992px) {
	/* reset previous grid */
	.multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: none; }
	.multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: none; }
	.multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: none; }
	.multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: none; }
	.multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: none; }

	/* clear first in row for medium columns */
	.multi-columns-row .col-md-6:nth-child(2n + 3) { clear: left; }
	.multi-columns-row .col-md-4:nth-child(3n + 4) { clear: left; }
	.multi-columns-row .col-md-3:nth-child(4n + 5) { clear: left; }
	.multi-columns-row .col-md-2:nth-child(6n + 7) { clear: left; }
	.multi-columns-row .col-md-1:nth-child(12n + 13) { clear: left; }
}
// @media (min-width: 1200px) {
	// /* reset previous grid */
	// .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: none; }
	// .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: none; }
	// .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: none; }
	// .multi-columns-row .col-md-2:nth-child(6n + 7) { clear: none; }
	// .multi-columns-row .col-md-1:nth-child(12n + 13) { clear: none; }

	// /* clear first in row for large columns */
	// .multi-columns-row .col-lg-6:nth-child(2n + 3) { clear: left; }
	// .multi-columns-row .col-lg-4:nth-child(3n + 4) { clear: left; }
	// .multi-columns-row .col-lg-3:nth-child(4n + 5) { clear: left; }
	// .multi-columns-row .col-lg-2:nth-child(6n + 7) { clear: left; }
	// .multi-columns-row .col-lg-1:nth-child(12n + 13) { clear: left; }
// }

/* IE 10 and up only styles */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* Put your IE-only styles here. Works for IS 10 & IE 11*/
   .logo-wrap img, .logo-wrap svg { height: 25px; }
}

/* Sassy Social Share Icons on Smaller screens */
@media (min-width: 1200px) and (max-width: 1330px) {
	.heateor_sss_bottom_sharing {
		padding: 0!important;
		display: block!important;
		bottom: -10px!important;
		top: auto!important;
		// width: 100%!important;
		// left: 0!important;
		width: 60%!important;
		left: 50%!important;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	
	div.heateor_sss_bottom_sharing li {
		width: 16.666666666667% !important;
	}
	
	div.heateor_sss_bottom_sharing .heateorSssSharing {
		width: 100% !important;
	}
}

@media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen  and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {

    /*.infographic .company {
        background-image: url(/content/dam/ringcentral/images/office/business-apps-infographic/2x/roof_party.gif);
    }*/
    .download_block .scrollBlock {
        background-image: url(/content/dam/ringcentral/images/office/business-apps-infographic/2x/scroll.png);
    }
}
