/* Utilities */
.vertical-center {
	display: flex;
	align-items: center;
}
.circle {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.list-tags {
	display: block;
	
	li {
		a {
			display: block;
			border: 2px solid rgba(0, 115, 174, 0.5686274509803921);
			padding: 6px 12px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			
			&:hover {
				color: $white;
				background: $brand-primary;
			}
		}
	}
}
.d-inline-block {
	display: inline-block;
}
.flex-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
	-ms-flex-pack: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -16px;
    margin-bottom: -16px;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter, .aligncenter img {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

figure {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	
	figcaption {
		font-family: 'Noto Serif', serif;
		opacity: 0.7;
		font-style: italic;
		font-size: 13px;
		text-align: center;
		margin-top: 10px;
	}
}

.display-block {
	display: block;
}
.button--chromeless, .submit--chromeless {
    border: 0;
    box-shadow: 0;
    display: inline-block;
    background: 0 0!important;
}
.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: polygon(0 0,0 0,0 0,0 0);
    clip-path: polygon(0 0,0 0,0 0,0 0);
    height: 0;
    overflow: hidden;
    position: absolute!important;
    width: 0;
    word-wrap: normal;
}
.link-block {
	display: block;
	width: 100%;
	height: 100%;
}
.text-uppercase {
	text-transform: uppercase; 
}

.rounded {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.well ul * {
    word-break: break-all;
}
.bg-light {
	background: #f7f7f7;
}
.pt-0 {
	padding-top: 0px;
}
.pt-10 {
	padding-top: 10px;
}
.pt-20 {
	padding-top: 20px;
}
.pt-30 {
	padding-top: 30px;
}
.pt-40 {
	padding-top: 40px;
}
.pt-50 {
	padding-top: 50px;
}
.pt-60 {
	padding-top: 60px;
}
.pr-10 {
	padding-right: 10px;
}
.pl-20 {
	padding-left: 20px;
}
.pb-0 {
	padding-bottom: 0px;
}
.pb-10 {
	padding-bottom: 10px;
}
.pb-20 {
	padding-bottom: 20px;
}
.pb-30 {
	padding-bottom: 30px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pb-60 {
	padding-bottom: 60px;
}

.mt-0 {
	margin-top: 0px;
}

.mt-0-i {
	margin-top: 0px!important;
}
.mt-10 {
	margin-top: 10px;
}
.mt-10-i {
	margin-top: 10px!important;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-50 {
	margin-top: 50px;
}
.mt-60 {
	margin-top: 60px;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-0-i {
	margin-bottom: 0!important;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-10-i {
	margin-bottom: 10px!important;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-60 {
	margin-bottom: 60px;
}
.mb-100 {
	margin-bottom: 100px;
}
.modal-body {
	padding: 0;
	
	.close {
		color: #fff;
		opacity: 1;
		font-size: 14px;
		font-weight: 300;
		display: block;
		margin-bottom: 8px;
	}
	iframe {
		border: 0;
	}
}
.modal-content {
	background-color: transparent;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.bordered {
	border: 1px solid $gray-300;
	border-radius: 8px;
}
img {
	max-width: 100%;
	height: auto;
}
p {
	letter-spacing: 0.0022rem;
}
.border-gray {
	border: 1px solid #cecece;
}
.content-banner {
	margin-top: 50px; 
}

.panel-orange {
	border-color: $brand-secondary;
	border-width: 2px;
	
	>.panel-heading {
		color: $white;
		background-color: $brand-secondary;
		border-color: $brand-secondary;
	}
}

/* Typography */
.display {
	font-size: 48px;
	line-height: 54px;
	font-weight: 300;
}
h1,.h1 {
	font-size: 38px;
	line-height: 43px;
	font-weight: 300;
}
h2,.h2 {
	font-size: 33px;
	line-height: 40px;
	font-weight: 300;
}
h3,.h3 {
	font-size: 30px;
	line-height: 37px;
	font-weight: 300;
}
h4,.h4 {
	font-size: 24px;
	line-height: 31px;
	font-weight: 300;
}
h5,.h5 {
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
}
h6,.h6 {
	font-size: 13px;
	line-height: 16px;
	font-weight: 700;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	color: $neutrsl_black;
}

/* All custom styles here */
body {
	color: $body_color;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.fonts-loaded body {
	font-family: 'Proxima Nova', sans-serif;
	// font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.fonts-loaded {
	h1,h2,h3,h4,h5,h6,
	.h1,.h2,.h3,.h4,.h5,.h6 {		
		font-family: 'Proxima Nova', sans-serif;
		// font-family: 'Lato', sans-serif;
		font-style: normal;
	}
} 

.at-share-dock.at-shfs-small .at4-count {
	height: 29px!important;
}

a {
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	
	&:hover, &:focus {
		text-decoration: none;
	}
}

b, strong {
    font-family: 'Proxima Nova',sans-serif;
	// font-family: 'Lato', sans-serif;
    font-weight: 700; 
}

input[type="submit"] {
	background: $brand-primary;
	color: $white;
	border: 0;
	padding: 10px 26px;
	border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;

	&:hover {
		background: $brand-primary-hover;
	}
}

textarea {
	border: 1px solid $gray-300;
}

.btn.btn-secondary {
	background: $brand-secondary;
	color: $white;
	
	&:hover {
		background: $brand-secondary-hover;
	}
}
.btn-lg {
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.btn-primary {
	border: 0;
}
.btn.btn-white {
	background: $white;
	
	&:hover {
		color: $white;
		background: $brand-secondary-hover;
	}
}

input, select, textarea {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    -ms-appearance: none!important;
    -o-appearance: none!important;
    appearance: none!important;
    outline: none!important;
    box-shadow: none!important;
	text-shadow: none!important;
	
	&.form-control {
		-webkit-border-radius: 0;
		border-radius: 0;
		height: 40px;
	}
}

textarea {
	width: 100%;
}

/* Branding and Nav */
.navbar {
	margin-bottom: 0;
	background: #fff;
}
.navbar-brand {
	padding: 0;
	line-height: initial;
	height: auto;
	
	img {
		max-width: 180px;
	}
}
.navbar-default {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
	
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.04);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.04);
}
nav.navbar.navbar-default {
    border-color: transparent;
}
.navbar-header-wrap {
	padding: 16px 0;
}

.navbar-header {
	.blog-home {
		float:right;
		margin-top: 20px;
		margin-right: 20px;
		
		font-weight: 700;
	}
}
.navbar-toggle {
	margin-top: 14px;
	margin-right: 0;
}
.navbar-form {
	border: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 20px;
}
.logo-wrap {
	position:relative; 
	margin-right: 30px;
	display: block;
	
	h1 {
		margin: 0;
	}
	
	.footer-logo {
		background: url(../images/logo-ringcentral.png) no-repeat 0 0;
		width: 230px;
		height: 36px;
		display: block;
	}
	.logo b {
		position: absolute;
		text-indent: -99999px;
		display: block;
		left: 0;
		top: -50px;
	}
	
	.logo-blog-text {
		font-size: 25px;
		font-weight: 600;
		color: $gray-600;
		margin-top: -1px;
	}
	img, svg {
		width: 110px;
		display: block;
	}
	svg {
		.cls-1 {
			fill: #0073ae;
		}
		.cls-2 {
			fill: #f80;
		}
	}
}

/* Header Navigation */
#header-nav {
	
	.nav li a {
		display: block;
		font-size: 14px;
		font-weight: 600;
		// text-transform: uppercase;
		//letter-spacing: 0.5px;
		background: none;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		color: #434649;
		
		&:hover {
			color: $brand-primary;
		}
		
	}
	.nav > li {		
		a:focus, a:hover, a.active {
			background-color: #f3f3f3;		
		}
	}
	
}

.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand {
	margin: 22px 0 0;
}

/* Header Search */	
.search-form {
	position: relative;
	
	.search-submit {
		padding: .5em .5em .5em .9em;
		position: absolute;
		right: 14px;
		top: 5px;
		color: $gray-800;
		
		&:hover {
			color: $gray-600;
		}
	}
	
	.search-field {
		width: 100%;
		margin-left: auto;
		margin: 0;
		border: 1px solid #dfdfdf;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	
	&.focused {
		.search-field {
			border-color: $brand-primary;
			width: 400px;
		}
		
		.search-submit {
			color: $brand-primary;
		}
	}
}

label {
	font-size: 16px;
	font-size: 1rem;
	display: block;
	margin-bottom: 2px;
	z-index: 99;
}

/* Hero Banner */
#hero-banner {
	background: url('../images/hero.jpg') no-repeat center center;
	background-size: cover;
	height: 150px;
	margin: 0 -20px 20px;
}
 
.boxed #hero-banner {
	margin-top: 40px;
}


/* Categories Navigation */
.sticky_top_br {
    height: 0;
}
#sticky_nav-sticky-wrapper {
    max-height: 75px;
}
#sticky_nav-sticky-wrapper, 
#sticky_nav {
    top: 0;
    z-index: 999;
}
#sticky_nav.sticky_nav_more {
    overflow: visible;
}

#sticky_nav-sticky-wrapper, #sticky_nav {
    top: 0;
    z-index: 999;
}
#sticky_nav {
    overflow: hidden;
    background: #FFF;
    z-index: 9200;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    right: 0;
    left: 0;
}
.sticky_nav_content {
    margin: auto;
    width: 100%;
    position: relative;
    transform: translateZ(0);
    z-index: 11;
}
#sticky_nav ul {
    float: left;
    margin: 0;
	padding: 0;
	list-style: none;
}
#sticky_nav ul li {
    float: left;
    height: 70px;
    line-height: 70px;
}
#sticky_nav .sticky_nav_content_integration li:first-child a {
    margin-right: 10px;
}
#sticky_nav ul li:first-child a {
    margin-left: 0;
    padding: 0 11px;
}
#sticky_nav .sticky_nav_content_integration li a {
    margin: 0 8px;
    padding: 0 10px;
}
#sticky_nav a.currentStick, #sticky_nav a:hover {
    border-bottom: 4px solid #0474a9;
    color: #0073ae;
}
#sticky_nav a {
    height: 67px;
    color: #585858;
    font-size: 17px;
    margin: 0 9px;
    display: block;
    text-decoration: none;
    padding: 0 10px;
}
#sticky_nav .more {
    float: right;
    position: relative;
    margin-right: 45px;
    z-index: 700;
}
#sticky_nav .more p {
    margin: 23px 0 0 9px;
    cursor: pointer;
    font-size: 17px;
    position: relative;
    z-index: 20;
    padding: 7px 0 7px 5px;
    border-right: 1px solid #e5e5e5;
    width: 150px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sticky_nav .more p:before {
    background: url('../images/header/more.png') no-repeat center -100px;
    width: 29px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    content: " ";
    margin-right: 10px;
    margin-top: -1px;
}
#sticky_nav .more ul {
    display: none;
}
.sticky_bottom_br {
    height: 35px;
}
#sticky_nav .totop {
    float: right;
    width: 20px;
    height: 57px;
    position: absolute;
    right: 0;
    z-index: 701;
    background: url('../images/header/totop.png') no-repeat center center;
    margin: 10px -10px -1px 0;
    padding: 0 9px;
}

/* Posts Navigation */
.navigation.posts-navigation {
	padding: 20px 0;
}

/* Widgets */
.widget {
	background: #fff;
	padding: 10px 20px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	// -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
	// box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
	margin-bottom: 30px;
	
	> h4, >div>h4, .widget-title {
		font-size: 21px;
		line-height: 24px;
		font-weight: 600;
		margin-top: 0; 
		margin-bottom: 20px;
		color: #2f2f2f; 
	}
		
	&.widget_categories {
		ul {
			list-style: none;
			padding-left: 0;
			padding: 0;
			 
			li {
				padding: 0;
				margin-bottom: 0;
				color: #c7c6c5;
				
				&:last-child {
					border-bottom: 0; 
				}
				
				a {
					display: inline-block;
					padding: 5px 0;
					width: 90%;
					font-size: 13px;
				}
			}
		}
	}
	
	.rp4wp-related-post-content {
		overflow: hidden;
		font-size: 16px;
		line-height: 22px;	
	}
	
}  

.boxed:not(.home) .widget {	
	&.rc-uk-newsletter-subscribe {
		background: #f5f5f5;
	}
}
.boxed .widget {
	background: #ffffff;
	padding: 30px;
	-webkit-border-radius: 6px;
	border-radius: 6px;	
}

.boxed:not(.home) .widget {	
	background: #fafafa;
}

/* Subscribe Widget */
.subscribe-widget-form {
	-webkit-border-radius: 8px;
	border-radius: 8px;	
	
	h4, .widget-title {
		font-weight: 700;
		margin-bottom: 20px;
	}
	
	p {
		opacity: 0.78;
	}
	
	
	#subscribe-email {
		padding: 16px;
		height: auto;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
	
	.input-group-btn button {
		border: 0;
		padding: 0;
		background: $brand-secondary;
		
		.subscribe-btn {
			padding: 0;
			width: 50px;
			height: 50px;
			display: block;
			background: url( '../images/paper-plane.png' ) no-repeat center center;
			border: 0;
		}
	}
}

.boxed .subscribe-widget-form {	
	#subscribe-email {
		border: 1px solid #efefef;
		
		text-align: center;
		max-width: 100%;
		margin: 0 auto;
	}
}

.boxed #secondary .subscribe-widget-form {
	#subscribe-email {
		border: 1px solid #efefef;
		
		text-align: left;
		max-width: 100%;
		margin: 0;
	}
}

/* CTA */
.white_paper_holder {
	img {
		display: block;
		margin-right: 20px;
	}
	p {
		// overflow: hidden;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.white_paper_title {
		font-size: 22px;
		font-weight: 700;
		line-height: 26px;
		display: block;
		margin-bottom: 10px;
		text-align: center;
		color: $white;
	}
	.white_paper_description {
		display: block;
		margin-bottom: 16px;
		text-align: center;
		color: $white;
	}
	
	.btn {
		margin-top: 0;
		width: 100%;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		padding: 16px 0;
	}
}

.boxed:not(.home) .widget.rc-uk-cta {
	background: #243956;
}

/* Video Widget */
.rc-uk-video-widget {
	overflow: hidden;
	border-radius: 12px;
	padding-top: 16px;
	padding-bottom: 16px;
	
	.video-img {
		position: relative;
	}
	
	img {
		background: $white;
		width: 100%;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
	
	.desc {
		margin-top: 20px;
		margin-bottom: 0;
		font-size: 13px;
		line-height: 18px;
	}
}
.play-btn {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
	background: url( '../images/play-icon.png' );
}

/* Responsive YouTube */
.hs-responsive-embed,
.rc-responsive-embed { 
	position: relative; 
	height: 0; 
	overflow: hidden;
	padding-top: 0; 
	padding-left: 0; 
	padding-right: 0; 
	margin-bottom: 30px;
}
.rc-responsive-embed {
	margin-bottom: 30px;
}

.rc-responsive-embed iframe, 
.rc-responsive-embed object, 
.rc-responsive-embed embed,
.hs-responsive-embed iframe, 
.hs-responsive-embed object, 
.hs-responsive-embed embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	border: 0; 
}

.rc-responsive-embed, 
.rc-responsive-embed.hs-responsive-embed-youtube, 
.rc-responsive-embed.hs-responsive-embed-wistia, 
.rc-responsive-embed.hs-responsive-embed-vimeo
.hs-responsive-embed, 
.hs-responsive-embed.hs-responsive-embed-youtube, 
.hs-responsive-embed.hs-responsive-embed-wistia, 
.hs-responsive-embed.hs-responsive-embed-vimeo { 
	padding-bottom: 56.25%; 
}

/* Social Media Icons Widget */
.social-media-icons {
	margin-bottom: 0;

	li {
		a {
			display: block;
			width: 45px;
			height: 45px;
			font-size: 1em;
			line-height: 45px;
			background: $gray-200;
			color: $gray-600;
			background: #ecf6ff;
			color: $brand-primary;
			text-align: center;
			-webkit-border-radius: 50%;
			border-radius: 50%;				
			
			i {
				line-height: inherit;
			}
			
			&:hover {
				background: $brand-primary;
				color: $white;
			}
		}
	}
	
	&.small {
		li a {
			width: 34px;
			height: 34px;
			font-size: 1.5em;
			line-height: 34px;
			color: $footer-bg;
			background: $footer-color;
		}
	}
}

/* Article Entry */
.content-area article.post,
.content-area article.type-post {
	margin-bottom: 30px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}
body.boxed {
	background: #f9f9f9;
}
.boxed .entry-box {
	position: relative;
	background: #fff;
	padding: 20px 20px 30px;
	margin-bottom: 30px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.07);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.07);
	
	
	.arrow-right {
		background-image: url( '../images/next.svg' );
		width: 16px;
		height: 16px;
		display: block;
	}
}
time.entry-date {
	color: $gray-600;
	font-size: 11px;
	font-weight: 400;
}
time._updated {
	display: none;
}
.entry-meta {
	margin-top: 5px;
	opacity: 0.76;
}
.post-edit-link {
    margin-top: 40px;
    display: inline-block;
    border: 1px solid;
    margin-left: 0;
    padding: 4px 16px;
    border-radius: 4px;
	display: none;
}
.entry_title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
    margin: 0 0 20px;
}
.blog-list {
	.entry_title {
		font-size: 22px;
		line-height:  26px;
		margin: 10px 0;
		
		a {
			color: #434649;
			
			&:hover {
				color: $brand-primary;
			}
		}
	}
	
	// &.single-post {
		// .entry_title {
			// font-weight: 600;
		// }
	// }
	.entry-summary {
		color: rgb(153, 153, 153);
		padding: 10px 0 0;
	}
}
.featured-image img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
}
.boxed .featured-image img {
	margin-bottom: 0;
}
.entry_summary {
	font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
.entry-footer {
	padding-bottom: 30px;
	border-bottom: 4px solid $gray-200;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.blog-list .entry-footer {
	border-bottom: 1px solid $gray-200;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.boxed .entry-footer { 
	border: 0;
	padding: 10px 20px;
	margin: 10px -20px -30px;
	border-top: 1px solid #f4f4f4;
	
}
 
.single.boxed .entry-footer {
	background: transparent;
}

.entry-auth {
	margin-bottom: 20px;
	//top: -30px;
    //position: absolute;
    background: #fff;
    padding: 4px 0;
    -webkit-border-radius: 50px;
    border-radius: 50px;
	
	.avatar {
		float: left;
		margin-right: 16px;
		img {
			-webkit-border-radius: 50%;
			border-radius: 50%;
			
			width: 25px;
			height: 25px;
		}
	}
	  
	.auth-name {
		overflow: hidden;
		margin-right: 10px;
		font-size: 12px;
		
		.name, .desc {
			display: block;
			font-weight: 400;
			margin-bottom: 0;
			line-height: 16px;
		}
		
		.desc {
			font-size: 10px;
			color: $gray-500;
		}
	}
}

/* Content and Sidebar */
.content-area, .widget-area {
	float: left;
	position: relative;
	min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
#jstwitter {
	font-size: 15px;
	color: #333333;
	margin: 0 auto;
	text-align:center;
}

#jstwitter .tweet {
	margin: 15px auto 15px auto;
    padding: 15px 0;
    border-radius: 3px;
    background: #fff;
    text-align: left;
    border-bottom: 1px solid #dedede;
	
	&:last-child {
		border-bottom: 0;
	}
}

#jstwitter .tweet a {
	text-decoration: none;
}

#jstwitter .tweet a:hover {
	text-decoration: underline;
}

#jstwitter img {
	margin-bottom: 15px;
	display:block;
	max-width:100%;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#jstwitter .tweet .time {
	font-size: 12px;
	font-style: italic;
	color: $gray-600;
	display:block;
	margin-top:3px;
}

/* Ajax Load More */
.ajax-load-more {
	position: relative;
	text-align: center;
	margin-top: 20px;
	
	&:before {
		//content: '';
		display: block;
		width: 100%;
		border-top: 2px solid $gray-200;
		position: absolute;
		top: 50%;
		margin-top: -1px;
		z-index: -1;
	}
	
	a.btn {
		font-size: 16px;
		font-weight: 600;
		display: inline-block;
		padding: 16px 44px;
		
		border: 0;
		background: #efefef;
		-webkit-box-shadow: 0 0 0 7px #ffffff;
		box-shadow: 0 0 0 7px #ffffff;
		
		&:hover {
			color: $white;
			background: $brand-secondary;
			
			i {
				color: $white;
			}
		}
		
		i {
			color: #ffffff;
			display: inline-block;
			margin-right: 10px;
		}
	}
}
.boxed .ajax-load-more a.btn {
	border: 0;
	background: $brand-primary;
	color: #ffffff;
	-webkit-box-shadow: none;
	box-shadow: none;
	
	&:hover {
		background: $brand-secondary;
	}
}

#related-posts {
	.featured-image img {
		margin-bottom: 0;
	}
	.entry-box {
		background: #fff;
		padding: 20px;
	}
	.entry_summary {
		line-height: 26px;
	}
	
	.entry-footer {
		border: 0;
		padding-bottom: 0;
	}
	.entry-categories li a {
		font-size: 12px;
		padding: 2px 12px; 
		
	}
}



.entry-categories {
margin-bottom: 0;
	li {
		display: inline-block;
		
		a {
			font-size: 12px;
			border-radius: 30px;
			color: rgb(134, 142, 150);
			display: inline-block;
			// border: 1px solid #e9ecef;
			
			&:hover {
				// color: $white;
				color: $brand-primary;
			}
		}
	}
}

.blog-list .entry-categories {
	li {
		a {
			font-size: 12px;
			line-height: 19px;
			// padding: 2px 12px;
		}
	}
}

.site-footer {
	background: $footer-bg;
	
	.social-media-icons li a:hover {
		color: $gray-800;
		background: $gray-500;
	}
	
	.logo-wrap {
		svg {
			color: $white;
			fill: currentColor;
		}
	}
}
#footer-menu {
	margin-left: 0;
	
	li {
		line-height: 24px;
		display: block;
		padding: 0;
		
		a {
			color: $gray-500;
			font-size: 12px;
			font-weight: 600;
		}
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			border-right: 0;
		}
		&:hover a {
			color: $gray-200;
		}
	}
}

#copyright {
	color: $footer-color;
}
.logo-footer-container {
    padding-bottom: 40px;
    border-bottom: 1px solid #6b6b6b;
	margin-bottom: 30px;
	
	.logo-wrap {
		padding-top: 15px;
		margin-bottom: 30px;
	}
	
	.iconBlock {
		float: left;
		
		.item {
			vertical-align: middle;
			display: inline-block;
			margin-left: 0;
			margin-right: 20px;
		}
	}
}
.bottomFooter {
	.copyrightBlock {
		float: left;
		font-size: 11px;
		color: #a9a9a9;
	}
	.bottomMenu {
		float: left;
		margin-top: 20px;
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			
			li {
				display: inline-block;
				font-size: 11px;
				padding: 0 7px;
				border-left: 1px solid;
				line-height: 1;
				
				&:first-child {
					border-left: 0;
					padding-left: 0;
				}
				
				a {
					color: #a9a9a9;
					
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
}


/* Single Post */
body.author .content-area {
	width: 100%;
}

#reply-title {
	font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    border-bottom: 1px solid #efefef;
    margin-bottom: 14px;
    padding-bottom: 6px;
}

.comment-form {
	.form-submit {
		margin-bottom: 50px;
	}
}

#disqus_thread {
	margin-bottom: 40px;
	
	// show comment button
	button#dcl_comment_btn {
		border: 0;
		background: $gray-200;
		
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		
		padding: 10px 26px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		
		text-transform: uppercase;
		letter-spacing: 1.2px;
		font-weight: 600;
		font-size: 12px;
		
		&:hover {
			background: $brand-primary;
			color: $white;
		}
	}
}

body.error404 {
	#content {
		margin-top: 0;
	}
		
	.inset-column {
		margin-top: 0;
	}
}

body.single-post, 
body.error404, 
body.author,
body.page-template-infographic {
	background: #fff;
	
	.inset-column {		
		position: relative;
		max-width: 840px;
		padding-left: 20px;
		padding-right: 20px;
		
		width: 100%;
		margin: 40px auto;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		 
		&.wide {
		}
	}
	
	.featured-image {
		margin: 0 auto 30px;
	}
		
	.posted-on, .byline {
		color: #aaa;
	}
	
	.byline:before {
		content: '•';
		display: inline-block;
		padding: 0 7px 0 12px;
		opacity: 0.8;
	}
	
	.entry-meta, .entry-meta time {
		font-size: 14px;
	}
	
	.site-content {
		margin-top: 60px;
	}
	
	.author-posts {
		.entry-header {
			margin-top: 0;
		}
	}
	
	.entry-header {
		margin-top: 0;
		margin-bottom: 30px; 
		
		.post-categories {
			margin-bottom: 20px;
			
			li {
				a {
					border: 0;
					padding: 0;
					font-weight: 600;
					font-size: 16px;
					
					&:hover {
						color: $gray-800;
						background: $white;
					}
					
					&:after {
						content: ',';
					}
				}
				
				&:last-child {
					a:after {
						content: '';
					}
				}
			}
		}
	}
	
	.entry-content {
		font-size: 17px;
		line-height: 1.52;
		letter-spacing: -.003em;
		
		a {
			text-decoration: none;
		}
		
		ul, ol {
			margin-bottom: 40px;
		}
		
		h1,h2,h3,h4,h5,h6 {
			margin-bottom: 20px;
			font-weight: 400;
			line-height: 1.3;
			margin-top: 40px;
		}		
		
		h2 {
			font-size: 24px;
			line-height: 1.15;
		}
		
		h3 {
			font-size: 20px;
			line-height: 1.25;
		}
		
				
		p {
			margin: 0 0 20px;
		}
		
		img {
			max-width: 100%;
			height: auto;
			
			&.aligncenter {
				margin: 30px auto;
			}
		}
		
		figure {
			width: 100%!important;
			
			&.alignleft {
				float: left;
				margin-right: 30px;
			}

			&.alignright {
				float: right;
				margin-left: 30px;
			}

			&.alignright,&.alignleft {
				margin-bottom: 30px;
				width: auto!important;
			}
		}

		blockquote {
			max-width: 100%;
			padding: 20px;
			border-left: 0;
			margin: 0 auto 30px;
			position: relative;
			
			&:before {
				top: 3px; 
			}
			&:before, &:after {
				content: '';
				display: block;
				width: 114px;
				height: 1px;
				background: #e5e5e5;
				position: absolute;
				left: 50%;
				margin-left: -57px;
			}
		
			p, .bctt-click-to-tweet a:not(.bctt-ctt-btn) {
				font-family: 'Noto Serif', serif!important;
				font-style: italic;
				font-weight: 400;				
				font-size: 20px;
				line-height: 30px;
				margin-bottom: 0;
				// color: $gray-700!important;
				color: #afafb0;
			}		

			.bctt-click-to-tweet {
				border: 0;
				margin-top: 0;
				margin-bottom: 0;
				padding: 35px;
				text-align: center;
				
				.bctt-ctt-text {
					display: block;
				}
				
				a.bctt-ctt-btn {
					padding: 7px 0 0 0;
					font-size: 12px;
					line-height: 18px;
					font-weight: 700;
					letter-spacing: 1px;
					text-transform: uppercase;
					font-family: 'Proxima Nova', sans-serif!important;
					// font-family: 'Lato', sans-serif!important;
					background: none;
					color: $brand-primary!important;
					float: none;
					margin-top: 20px;
					
					&:after {
						content: '\f099';
						font-family: fontello;
						color: #2196f3;
						font-size: 13px;
						line-height: 18px;
						display: inline-block;
						margin-left: 10px;
					}
					
					&:hover {
						color: $gray_600!important;
					}
				}
			}
		}
		
		a.inline-tweet-click {
			background: #f8f8f9;
			padding-left: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
				
			&:after {
				content: '\f099';
				font-family: fontello;
				color: #2196f3;
				font-size: 14px;
				display: inline-block;
				margin-left: 4px;
				margin-right: 4px;
			}
			
			&:hover {
				background: $gray_200;				
			}
		}
		
		.rp4wp-related-posts {
			.widget-title {
				font-size: 16px;
				line-height: 24px;
				font-weight: 700;
				/* border-bottom: 1px solid #efefef; */
				margin-bottom: 10px;
				/* padding-bottom: 6px; */
			}
			
			.rp4wp-related-post-content {
				/* border: 1px solid #efefef; */
				padding: 20px;
				background: #fafafa;
			}
		}
		
	}
	
	.entry-footer {
		padding-bottom: 20px;
		margin: 0 0 20px;		
	}
}

body.author {
	background: #fff;
	
	.page-header, .page-title, .position {
		display: block;
		text-align: center;
	}
	.page-header {
		border: 0;
		padding: 0;
	}
	.page-header {
		margin-bottom: 40px;
		
		h1 {
			font-size: 28px;
			line-height: 34px;
			font-weight: 400;
			margin-top: 0;
		}
	}
	.page-title {
		font-size: 34px;
		line-height: 42px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 4px;
	}
	.author-avatar {
		max-width: 230px;
		height: auto;
		margin: 0 auto 20px;
		display: block;
	}
	.position {
		font-size: 16px;
		opacity: 0.6;
	}
	.content-area {
		margin: 0 auto;
		display: block; 
		position: relative;
		float: none;
	}
	.author-description {
		font-size: 16px;
		line-height: 25px;
	}
	.about-me {
		margin-top: 40px;
		margin-bottom: 10px;
		font-weight: 600;
		line-height: 1.4;
	}
	.post {
		.entry-date {
			font-size: 12px;
			line-height: 21px;
		}
		.entry-meta {
			margin-bottom: 0;
		}
		.entry_title {
			font-size: 16px;
			line-height: 24px;
			font-weight: 400;
			margin-top: 0;
			margin-bottom: 10px;
		}
		
		.entry_summary {
			font-size: 14px;
			line-height: 23px;
			margin-bottom: 0;
		}
	}
	.author-posts {
		.entry-header {
			margin-bottom: 20px;
		}
		.entry_title {
			font-size: 18px;
		}
		
		.entry-footer {
			margin-bottom: 0;
			padding-bottom: 0;
			background: transparent;
		}
	}
	.author-social-links {
		text-align: center;
	}
	.author_box_social {
		.fa-twitter, .fa-google-plus, .fa-linkedin {
			color: #fff;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			display: inline-block;
			margin-right: 10px;
			width: 25px;
			height: 25px;
			line-height: 25px;
			text-align: center;
		}
		
		.fa-twitter {			
			background: #2bafeb;
		}
		
		.fa-google-plus {			
			background: #e14b3f;
		}
		
		.fa-linkedin {			
			background: #1a7ab2;
		}
		
		li {
			font-size: 12px;
			display: block;
			margin-bottom: 5px;
			
			a {
				span {
					display: inline-block;
				}
			}
		}
	}
}

.site-content-contain {
	overflow: hidden;
}

.section-wide {
	margin: 30px -500px 0;
	padding: 30px 500px;
}

.error-404 {
	.page-header .page-title {
		font-size: 64px;
		line-height: 70px;
		font-weight: 700;
		text-align: center;
		
		span {
			font-size: 16px;
			line-height: 25px;
			display: block;
		}
	}
	
	.widget_recent_entries {
		margin-top: 30px;
		
		h2 {
			font-size: 22px;
			line-height: 32px;
			margin-top: 0;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			
			li {
				line-height: 1.7;
			}
		}
	}
}

.post-categories {
	list-style: none;
	margin: 0 0 30px;
	padding: 0;
	display: block;
	
	li {
		display: inline-block;
		margin-right: 4px;
		
		a {
			display: block;
			border: 1px solid;
			padding: 6px 14px;
			-webkit-border-radius: 30px;
			border-radius: 30px;
			
			&:hover {
				color: #fff;
				background: $brand-primary;
			}
		}
	}
}
.cat-links, .cat-tags-links, .tags-links {
	display: block;
}
.cat-links {
	float: left;
}
.tags-links {
	float: right;
}
.categories-text, .tags-text {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
}


/* Footer Resources */
.mediaBlock .item {
    background: #fff;
    text-decoration: none;
	width: 100%;
	height: auto;
    min-height: 342px;
    vertical-align: middle;
    text-align: left;
    margin: 0;
    position: relative;
	display: block;
	overflow: hidden; 
	
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	// -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.07);
	// box-shadow: 0 1px 2px 0 rgba(0,0,0,.07);
	
	* {
		display: block;
	}
	
	img {
		max-width: 100%;
		width: 100%;
	}
	.mediaBlockHeader {
		position: relative;
	}
	.mediaBlockContent {
		display: block;
		min-height: 140px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 26px 15px 0 20px;
	}
	
	.mediaBlockInfoTitle {
		margin-bottom: 11px;
		font-size: 12px;
		letter-spacing: 0.03em;
		
		b {
			color: #ff8800;
			font-weight: normal;
			text-transform: uppercase;
			display: inline;
		}
	}
	
	.text {
		font-size: 20px;
		font-weight: 300;
		line-height: 1.3;
		margin-top: 10px;
	}
	
}

.heateor_sss_sharing_ul {
	li:first-child {
		background: $white;
	}
}

div.heateorSssTCBackground {
	background: $white!important;
}

div.heateorSssTotalShareCount {
	font-size: 20px!important;
}

div.heateorSssTotalShareText {
	margin-top: 4px!important;
    font-size: 12px!important;
}

.heateorSssSharingArrow {
	display: none;
}

.addthis-smartlayers.addthis-smartlayers-mobile .at4-share-count-container {
	display: none;
}

.widget-area div.rp4wp-related-posts ul {
	float: none;
		
	>li {
		margin: 0 0 26px;
		padding-bottom: 0;
		
		&:after {
			clear: both;
			content: '';
			display: table;
		}
	}
		
	.rp4wp-related-post-content p {
		display: none;
	}
}

article.post div.rp4wp-related-posts {
	h3 {
		font-size: 16px;
	}
	
	ul>li {
		.rp4wp-related-post-content {
			>a {
				font-size: 14px;
				line-height: 19px;
				font-weight: 400;
				display: block;
				margin-bottom: 10px;
				letter-spacing: 0.4px;
			}
			
			p {
				display: none;
			}
		}
	}
}

.archive {
	.rp4wp-related-posts {
		ul {
			list-style: none;
			padding-left: 0;
			
			>li {
				list-style: none;
				padding: 0;
				margin: 0;
				padding-bottom: 20px; 
				overflow: hidden; 
				
				.rp4wp-related-post-image {
					width: 35%;
					padding-right: 25px;
					margin-bottom: 10px;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					float: left;
					
				}
			}
		}
	}	
} 

.search.search-results {
	.rp4wp-related-post-image {
		width: 35%;
		padding-right: 25px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
	}

	&.boxed:not(.home) .widget {
		background: $white;
	}

	.rp4wp-related-posts ul {
		width: 100%;
		padding: 0;
		margin: 0;
		float: left;
	}
	.widget-area div.rp4wp-related-posts ul {
		float: none;
	}
	.widget-area div.rp4wp-related-posts ul>li {
		margin: 0 0 16px;
		padding-bottom: 0;
	}
	
	.rp4wp-related-posts ul>li {
		list-style: none;
		padding: 0;
		margin: 0;
		padding-bottom: 20px; 
		clear: both;
	}
}

/* Curated Contents */
.card-author {
	opacity: 0.8;
	font-size: 11px;
} 

.curated-contents {	
	.main-card {
		width: 100%;
		height: 350px;
		position: relative;
		margin-bottom: 20px;
		
		.card {
			position: relative;
			top: 0;
			bottom: 0;
			
			display: block;
			height: 100%;
					
			.card-content {
				position: absolute;
				color: #ffffff;
				bottom: 0;
				width: 100%;
				
				background-color: rgba(0,0,0,0.4);
				background-image: -moz-linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0, 0, 0, 0.39) 61%,rgba(0, 0, 0, 0.37) 100%);
				background-image: -webkit-linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0, 0, 0, 0.39) 61%,rgba(0, 0, 0, 0.37) 100%);
				background-image: -o-linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,.6) 61%,rgba(0,0,0,.6) 100%);
				background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0, 0, 0, 0.39) 61%,rgba(0, 0, 0, 0.37) 100%);
				background-repeat: repeat-x;
				background-color: transparent;
				
				padding: 30px;
				
			}
			
		}
	}
	
	.sub-cards {
		width: 100%;
		height: auto;
		
		.card {
			.card-content {
				position: absolute;
				bottom: 0;
				width: 100%;
				margin: 0;
				background-color: rgba(0,0,0,0.4);
				background-image: -moz-linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0, 0, 0, 0.39) 61%,rgba(0, 0, 0, 0.37) 100%);
				background-image: -webkit-linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0, 0, 0, 0.39) 61%,rgba(0, 0, 0, 0.37) 100%);
				background-image: -o-linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,.6) 61%,rgba(0,0,0,.6) 100%);
				background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0, 0, 0, 0.39) 61%,rgba(0, 0, 0, 0.37) 100%);
				background-repeat: repeat-x;
				background-color: transparent;
				padding: 0 30px 30px;
				
				.card-title {
					font-size: 17px;
					line-height: 19px;
					margin-bottom: 4px;
					color: #ffffff;
				}
					
				.card-author {
					
					color: #ffffff;
				}
			}
		}
	}
		
	.featured-image {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-position: center;
		background-size: cover;
	}
	
	.sub-card-wrapper {
		height: 220px;
		margin-bottom: 20px;
		
		&.two {
			margin-bottom: 0;
		}
	}
		
	.card {
		position: relative;
		height: 100%;
		display: block;
		
		.card-content {
			padding: 0 30px 30px;
			box-sizing: border-box;
			
			.card-author a {
				color: #ffffff;
				
				&:hover {
					opacity: 0.8;
				}
			}
						
			.card-meta {
				list-style: none;
				margin-left: 0;
				padding-left: 0;
				margin-bottom: 4px;
			}
		}
	}
	
	.card-title {		
		font-size: 22px;
		line-height: 26px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 4px;
		
		a { 
			color: #fff;
			
			&:hover {
				opacity: 0.8;
			}
		}
	}
	
	.card-subtext {
		display: inline-block;
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		color: #333;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		margin-right: 4px;
		
		a {
			color: #ffffff;
			display: block;
			font-size: 10px;
			
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.border-card {
		border-radius: 4px;
		overflow: hidden;
	}
}

#content {
	margin-top: 30px;
}

.home #content {
	margin-top: 0;
}

.page-header .page-title {
	font-size: 32px;
    margin-bottom: 0;
	font-weight: 700;
	
	span {
		color: $brand-secondary;
	}
}

.archive-description {
	font-size: 16px;
}
.page-header {
	background: #fff;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 20px;
	
    border-bottom: 1px solid #e9ecef;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	.page-title {
		margin-top: 0;
	}
}

.author-description {
	line-height: 1.45;
}

/* Social Share Buttons */
.rc-uk-postshares {
	#rc-uk-shares {
		position: fixed;
		top: 300px;
		left: 100px;
		text-align: center;
		visibility: visible;
		opacity: 1;
		transition: opacity linear .3s 0s;
		text-align: center;
		
		li {
			span {
				text-transform: uppercase;
				letter-spacing: 1px;
				margin-bottom: 20px;
				display: block;
			}
			a {
				color: #343434;
				display: block;
				margin: 10px 0;
				width: 48px;
				height: 48px;
				line-height: 48px;
				background: #f3f3f3;
				text-align: center;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				
				&:hover {
					background: #e3e3e3;
				}
				
				i {
					font-size: 16px;
					line-height: inherit;
				}
			}
		}
	}
}

/* Breadcrumbs */
body.single-post {
	.breadcrumb-wrap {
		// background: $gray-100;
		margin-top: 10px;
	}
	
	.breadcrumbs {
		margin-top: 8px;
		margin-bottom: 8px;
		font-size: 12px;
		font-weight: 400;
		
		a, .breadcrumb_last {
			margin: 0 6px;
		}
		
		// .breadcrumb_last {
			// color: $gray-600;
		// }
		
		span {
			color: $gray-500;
		}
		
		>span>span>a {
			margin-left: 0;
		}
		
	}

	/* Author box */
	.author_box_wrap {
		padding: 50px 0 30px;
		margin-bottom: 20px;
		// border-top: 1px solid rgba(204,204,204,0.20);
		// border-bottom: 1px solid rgba(204,204,204,0.20);
		// border: 1px solid rgba(204,204,204,0.20);
		text-align: center;
		background: #fafafa;
		
		p {
			margin-bottom: 20px;
		}
		
		.about-the-author-text {
			font-size: 12px;
			line-height: 26px;
			margin-bottom: 0;
			color: rgba(0,0,0,0.3);
			text-transform: uppercase;
		}

		.author_box_gravatar {
			margin: 0 auto 10px;
			width: 120px;
			
			img {
				-webkit-border-radius: 50%;
				border-radius: 50%; 
				
				width: 100px;
				height: auto;
			}
		}
		
		.author_box_text .h4 {
			font-size: 16px; 
			line-height: 23px;
			margin: 0;
			padding: 0;
			color: $gray-500;
			font-weight: 700;
			display: block;

			span {
				color: $gray-800;
			}
		}

		.author_box_text .h5 {
			font-size: 12px;
			line-height: 18px;
			color: $gray-500;
			margin: 0 0 16px;
			display: block;
		}
		
		.author_box_text p {
			font-size: 13px;
			line-height: 19px;
			margin: 0 0 12px 0;
			padding: 0;
		}

		.author_box_social  {
			margin-top: 10px;
			margin-bottom: 0;
			
			li {
				display: inline-block;
			
				a {
					display: block;
					background: $white;
					border: 1px solid $gray-300;
					color: $gray-700;
					font-size: 14px;
					text-align: center;
					font-weight: 600;
					
					line-height: 46px;
					width: 46px;
					height: 46px;
					padding: 0;
					
					text-decoration: none;
					
					-webkit-border-radius: 2px;
					border-radius: 2px;
					
					i {
						font-size: 14px;
						line-height: inherit;
						margin-right: 2px;
						
					}
					
					&:hover {
						color: $gray-900;
						background: #fafafa;
						border: 1px solid $gray-400;
					}
				}
			}
		}
	}

	.entry-footer {
	
	}

	/* CTA Banner */
	.cta-banner {
		background: #DCF0FC;
		max-width: 300px;
		margin: 0 auto;

		-webkit-border-radius: 6px;
		border-radius: 6px;

		overflow: hidden;

		&.overlap {
			overflow: visible;
			margin-top: 60px;

			>img {
				margin-top: -20px;
			}
		}
 
		img {
			float: none;
		}

		>p {
		}
		.cta-body {
			padding: 20px;
			overflow: hidden;

			p {
				font-size: 15px;
				line-height: 19px;
				margin-bottom: 18px;
				opacity: 0.85;
			}

			h3 {
				color: #00588F;
				font-size: 18px;
				font-weight: 700;
				line-height: 23px;
				margin: 4px 0 10px;
			}
			span {
				color: #7992A6;
				letter-spacing: 1px;
				text-transform: uppercase;
				font-size: 11px;
				line-height: 17px;
				display: inline-block;
			}
			a.btn {
				text-transform: uppercase;
				font-size: 11px;
				font-weight: bold;
				letter-spacing: 1px;
				padding: 14px 20px; 
				border: 0;

				&:hover {
					background: $brand-primary-hover;
				}
			}
		}
	}

}


/* Article Subscribe Form */
#article-subscribe {
	position: relative;
    overflow: hidden;
    width: 100%;
    margin: 10px auto 10px;
   -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 20px 30px;
	text-align: center;
	
	background: #f6f6f6;
    -webkit-box-shadow: inset 0 80px 0 -80px #b4b4b4, inset 0 0 0 1px rgba(197, 197, 197, 0.13);
    box-shadow: inset 0 80px 0 -80px #b4b4b4, inset 0 0 0 1px rgba(197, 197, 197, 0.13); 
		
    border-top: 2px solid $brand-secondary;

	#article-envelope {
		display: block;
		margin: 0 auto;
		
		width: 80px;
		height: 80px;
	}
	
	.subscribe-widget-form {
		overflow: hidden;
	}
	
	.article-subscribe-text {
		width: 100%;
		font-size: 15px;
		line-height: 26px;
		margin-bottom: 10px;
		
		h4 {
			margin-bottom: 10px; 
		}
	}
	.article-subscribe-form-step {
		overflow: hidden; 
	}
	
	#article-subscribe-form_email {
		padding: 4px 40px 0 14px;
	}
	
	.article-subscribe-form-button button {
		max-width: 100%;
		margin-top: 10px;
		-webkit-border-radius: 2px; 
		border-radius: 2px;
		padding: 10px 80px;
	}
}
 
/* Events Sidebar banner */
.events-sidebar-banner {
	background: url( '../images/banners/sidebar-banner-bg-3.jpg' ) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 300px;
	padding: 20px;
	
	text-align: center;
	
	.rc-logo {
		background: url( '../images/banners/logo_2018-white-small.png' ) no-repeat center center;
		width: 120px;
		height: 18px;
		margin: 0 auto;
		padding: 30px 0 30px;
	}
	
	h4, p {
		color: $white;
	}
	
	h4 {
		font-size: 28px;
		line-height: 33px;
		font-weight: 400;
		margin: 0 0 6px;
	}
	
	p {
		font-size: 18px;
		line-height: 23px;
		max-width: 80%;
		margin: 0 auto 20px;
	}
	
	.btn {
		font-size: 16px;
		padding: 12px 20px;
		border-color: transparent;
	}
}


/* clear first in row in ie 8 or lower */
.multi-columns-row .first-in-row {
	clear: left;
}

/* clear the first in row for any block that has the class "multi-columns-row" */
.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: left; }
.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: left; }
.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: left; }
.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: left; }
.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: left; }


/* Fontello Font Icons */
@font-face { 
  font-family: 'fontello';
  src: url('../font/fontello.eot?888516');
  src: url('../font/fontello.eot?888516#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?888516') format('woff2'),
       url('../font/fontello.woff?888516') format('woff'),
       url('../font/fontello.ttf?888516') format('truetype'),
       url('../font/fontello.svg?888516#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?888516#fontello') format('svg');
  }
}
*/
 
 [class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fa-close:before { content: '\e800'; } /* '' */
.fa-search:before { content: '\e801'; } /* '' */
.fa-plus-circle:before { content: '\e802'; } /* '' */
.fa-twitter:before { content: '\f099'; } /* '' */
.fa-google-plus:before { content: '\f0d5'; } /* '' */
.fa-linkedin:before { content: '\f0e1'; } /* '' */
.fa-youtube:before { content: '\f167'; } /* '' */

.rc-inline-read {
    padding: 0px;
    margin: 0;
    padding-top: 1em!important;
    padding-bottom: 1em!important;
	padding-left: 1em; 
	padding-right: 1em;
    width: 100%;
    display: block;
    font-weight: bold;
    background-color: #eaeaea;
    border: 0!important;
    border-left: 4px solid #E67E22!important;
    text-decoration: none;
		
    transition: background-color 250ms;
    webkit-transition: background-color 250ms;
    opacity: 1;
    transition: opacity 250ms;
    webkit-transition: opacity 250ms;
	
	&:active, &:hover {
		opacity: 1;
		transition: opacity 250ms;
		webkit-transition: opacity 250ms;
		text-decoration: none;		
	}
	
	.ctaText {
		font-weight: bold;
		color: inherit;
		text-decoration: none;
		font-size: 16px;
		margin-right: 10px;
	}
	
	.postTitle {
		color: #2980B9;
		text-decoration: underline!important;
		font-size: 16px;
	}
	
	&:hover .postTitle {
		text-decoration: underline!important;
	}
}

/* Infographic */
.animate {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.infographic {
    /* width: 980px; */
    width: 360px;
    height: 805px;
    background: #0072b2 url('../images/infographic/background.png') 0 0 no-repeat;
    background-size: contain;
    position: relative;
    -webkit-transform: translateZ(0);
	transform: translateZ(0);
	display: block;

	&, * {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	&.loaded {
		margin: 0 auto;
	}
	.textBlock {
		/* width: 972px; */
		width: 100%;
		height: 515px;
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		margin: auto;
	}
	
	.percent_1 {
		top: 310px;
		left: 109px;
		width: 144px;
		height: 117px;
		position: absolute;
	}
	
	.percent_2 {
		top: 440px;
		left: 109px;
		width: 144px;
		height: 117px;
		position: absolute;
	}

	.two-as-one {
		top: 550px;
		left: 109px;
		width: 144px; 
		height: 82px;
		position: absolute;
	}

	.man {
		top: 219px;
		left: 59px;
		width: 226px;
		height: 152px;
		position: absolute;
	}

	.company {
		top: 243px;
		left: 259px;
		width: 115px;
		height: 41px;
		position: absolute;
		background-image: url('../images/infographic/roof_party.gif');
	
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: contain;
		display: none;
	}

	&.loaded {
		.company {
			display: block;
		}
	}

	.window_1 {
		top: 322px;
		left: 260px;
		width: 43px;
		height: 50px;
		position: absolute;
	}	

	.window_2 {
		top: 384px;
		left: 12px;
		width: 43px;
		height: 50px;
		position: absolute;
	}

	.window_3 {
		top: 384px;
		left: 305px;
		width: 43px;
		height: 50px;
		position: absolute;
	}

	.window_4 {
		top: 443px;
		left: 57px;	
		width: 43px;
		height: 50px;
		position: absolute;
	}

	.window_5 {
		top: 443px;
		left: 260px;
		width: 43px;
		height: 50px;
		position: absolute;
	}

	.window_6 {		
		top: 505px;
		left: 12px;
		width: 43px;
		height: 50px;
		position: absolute;
	}

	.window_7 {
		top: 505px;
		left: 305px;
		width: 43px;
		height: 50px;
		position: absolute;
	}

	.window_8 {
		top: 566px;
		left: 12px;
		width: 87px;
		height: 57px;
		position: absolute;
	}

	.window_9 {
		top: 566px;
		left: 260px;
		width: 87px;
		height: 57px;
		position: absolute;
	}
}


.infographic .infographic_cta_block {
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    height: 154px;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
	text-indent: 0;
	
	.p_title, .p_text {
		font-size: 10px;
		letter-spacing: 0.01em;
		font-weight: 300;
	}

	.cta_btn {
		width: 250px;
		height: 50px;
		display: block;
		margin: 10px auto 0;
		text-decoration: none;
		color: #fff;
		background: #f48720;
		border-radius: 5px;
		padding-top: 4px;
		font-size: 14px;
		line-height: 19px;
	}
		
	.cta_btn:hover {
		background: #ff9d2a;
	}

	.cta_btn:active {
		background: #eb6321;
	}

	.cta_btn span {
		display: block;
		text-transform: uppercase;
	}

	.p_title,
	.p_text {
		margin: 0!important;
	}

	.p_title,
	.p_text,
	h2 {
		-webkit-transform: translate(0, -300px);
		-moz-transform: translate(0, -300px);
		-ms-transform: translate(0, -300px);
		transform: translate(0, -300px);
		-webkit-transition: 0.3s ease;
		-moz-transition: 0.3s ease;
		-ms-transition: 0.3s ease;
		transition: 0.3s ease;
	}

	&.animating .p_title,
	&.animating .p_text,
	&.animating h2 {
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
		
	&.animating h2 {
		-webkit-transition-delay: 0.15s;
		-moz-transition-delay: 0.15s;
		-ms-transition-delay: 0.15s;
		transition-delay: 0.15s;
	}

	&.animating .p_title {
		-webkit-transition-delay: 0.3s;
		-moz-transition-delay: 0.3s;
		-ms-transition-delay: 0.3s;
		transition-delay: 0.3s;
	}

	.cta_btn {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}

	&.animating .cta_btn {
		-webkit-animation: pulse 0.3s 0.45s linear;
		-moz-animation: pulse 0.3s 0.45s linear;
		-ms-animation: pulse 0.3s 0.45s linear;
		animation: pulse 0.3s 0.45s linear;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}

}

body.single-post .entry-content .infographic_cta_block h2 {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin: 4px 26px 2px;
    letter-spacing: 0.045em;
    padding: 0;
    border: 0;
}

#main .landing_custom {
    display: none;
}

.download_block {
    height: 56px;
    padding: 15px 0;
    position: relative;
}

.is-sticky .download_block {
    bottom: 0;
    top: auto !important;
}

.download_block .bg {
    position: absolute;
    left: -5000px;
    right: -5000px;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.9;
}

.download_block .download {
    float: right;
    padding-right: 22px;
    padding-left: 15px;
    border-left: 1px solid #ccc;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 11px;
    position: relative;
    color: #787878;
    -webkit-transition: margin-top 0.3s ease;
    -moz-transition: margin-top 0.3s ease;
    -ms-transition: margin-top 0.3s ease;
    transition: margin-top 0.3s ease;
}

.is-sticky .download_block .download {
    margin-top: 41px;
}

.download_block .download a {
    font-weight: bold;
    color: #0073ae;
    text-decoration: none;
}

.download_block .scrollBlock {
    text-align: center;
    width: 180px;
    margin: 0 auto;
    padding-top: 45px;
    letter-spacing: 0.08em;
    display: none;
    background: url(/content/dam/ringcentral/images/office/business-apps-infographic/scroll.png) center 0 no-repeat;
    background-size: 20px;
    color: #777;
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    font-weight: bold;
}

.is-sticky .download_block .scrollBlock {
    display: block;
}
.preloader {
    position: absolute;
    width: 70px;
    margin: auto;
    left:0;
    right:0;
    top: 300px;
}
.preloader span,
.preloader i {
    position: absolute;
    top:0;
    left:0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #00649d;
}
.preloader span + span {
    left: 28px;
}
.preloader span + span + span {
    left: 56px;
}
.preloader i {
    background: #fff;
    -webkit-animation: preloader 1s ease infinite;
    -moz-animation: preloader 1s ease infinite;
    -ms-animation: preloader 1s ease infinite;
    animation: preloader 1s ease infinite;
}

#addthis_toolbox {
    display: none !important;
}

.infographic.loaded .preloader,
.mobile .infographic .preloader {
    display: none;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
    }
    70% {
        -webkit-transform: scale(1);
    }
    85% {
        -webkit-transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
    }
    70% {
        -moz-transform: scale(1);
    }
    85% {
        -moz-transform: scale(0.9);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-ms-keyframes pulse {
    0% {
        -ms-transform: scale(0);
    }
    70% {
        -ms-transform: scale(1);
    }
    85% {
        -ms-transform: scale(0.9);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1);
    }
    85% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes preloader {
    0%, 33.32% {
        -moz-transform: translate(0,0);
    }
    33.33%, 66.65% {
        -moz-transform: translate(28px,0);
    }
    66.66%, 100% {
        -moz-transform: translate(56px,0);
    }
}
@-webkit-keyframes preloader {
    0%, 33.32% {
        -webkit-transform: translate(0,0);
    }
    33.33%, 66.65% {
        -webkit-transform: translate(28px,0);
    }
    66.66%, 100% {
        -webkit-transform: translate(56px,0);
    }
}
@-ms-keyframes preloader {
    0%, 33.32% {
        -ms-transform: translate(0,0);
    }
    33.33%, 66.65% {
        -ms-transform: translate(28px,0);
    }
    66.66%, 100% {
        -ms-transform: translate(56px,0);
    }
}
@keyframes preloader {
    0%, 33.32% {
        transform: translate(0,0);
    }
    33.33%, 66.65% {
        transform: translate(28px,0);
    }
    66.66%, 100% {
        transform: translate(56px,0);
    }
}
