$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-585858: #585858 !default;
$gray-676767: #676767 !default;
$neutrsl_black: #2f2f2f; 
$brand-primary: #0073ae;
$brand-primary-hover: #065882;
$brand-secondary: #ff8800;
$brand-secondary-hover: #d3760d;
$footer-color: #797979;
$footer-bg: #303030;
$body_color: #212121;

 
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Large screen / wide desktop
// $container-large-desktop:      (980px + $grid-gutter-width) !default;  
$container-large-desktop:      (1168px + $grid-gutter-width) !default;